/*
* @Author: Carlos Piles
* @Date:   2016-06-20 07:56:05
* @Last Modified by:   carlos
* @Last Modified time: 2016-06-27 06:39:19
*/
/**
 * Social Facebook
 */
 $social-facebook:#3b5998;
 $social-facebook-color:#FFF;
 $social-facebook-active:#23345a;
 $social-facebook-hover:#2d4373;
 .social-view-facebook{
 	@extend .social-view;
 	background: $social-facebook;
 }
 .social-color-facebook{
 	color: $social-facebook;
 }
 .social-button-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-button;
 	background: $social-facebook;
 	color:$social-facebook-color;
 	&:active{
 		background-color: $social-facebook-active;
 	}&:hover , &:visited {
 		background-color: $social-facebook-hover;
 	}
 }

 .social-button-outline-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-button-outline;
 	color: $social-facebook;
 	background:$social-facebook-color;
 	border:1px solid $social-facebook;
 	&:active{
 		background-color: $social-facebook-color;
 		color: $social-facebook-active;
 		border:1px solid $social-facebook-active;
 	}&:hover , &:visited {
 		background-color: $social-facebook-color;
 		color: $social-facebook-hover;
 		border:1px solid $social-facebook-hover;
 	}
 }
 .social-button-circle-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-button-circle;
 	background: $social-facebook;
 	color: $social-facebook-color;
 	&:before{
 		//font-size:2.0em !important;
 	}
 	&:active{
 		background-color: $social-facebook-active;
 	}
 	&:hover , &:visited {
 		background-color: $social-facebook-hover;
 	}
 }
 .social-button-square-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-button-square;
 	background: $social-facebook;
 	color:$social-facebook-color;
 	&:active{
 		background-color: $social-facebook-active;
 	}&:hover , &:visited {
 		background-color: $social-facebook-hover;
 	}
 }
 .social-icon-circle-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-icon-circle;
 	background: $social-facebook;
 	color:$social-facebook-color;
 	&:active{
 		@extend .social-active;
 	}
 	&:hover{
 		@extend .social-hover;
 	}
 }
 .social-icon-circle-outline-facebook{
 	@extend .ion-social-facebook;
 	@extend .social-icon-circle;
 	background: $social-facebook-color;
 	color:$social-facebook;
 	&:active{
 		@extend .social-active;
 	}
 	&:hover{
 		@extend .social-hover;
 	}
 }
 .social-button-facebook.activated 
 , .social-button-circle-facebook.activated 
 , .social-button-square-facebook.activated{
 	background:$social-facebook-hover !important;
 }
 .social-button-facebook-outline.activated{
 	background:$social-facebook-color !important;
 	color:$social-facebook !important;
 	border:1px solid $social-facebook !important;
 }
/**
 * End Social Facebook
 */