<ion-view class="app-home" view-title="Ionic social buttons">
<ion-nav-bar  align-title="center" >
</ion-nav-bar>
<ion-content >
<div class="card">
	<div class="item item-divider align-center">
		Click to see more
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'facebook'})" class="button social-button-circle-facebook">
				</button>
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'twitter'})" class="button social-button-circle-twitter">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'youtube'})" class="button social-button-circle-youtube">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'instagram'})" class="button social-button-circle-instagram">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'whatsapp'})" class="button social-button-circle-whatsapp">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'skype'})" class="button social-button-circle-skype">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'foursquare'})" class="button social-button-circle-foursquare">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'pinterest'})" class="button social-button-circle-pinterest">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'google'})" class="button social-button-circle-google">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'linkedin'})" class="button social-button-circle-linkedin">
			</div>
			
			<div class="col align-center">
				<button ui-sref="social({social:'wordpress'})" class="button social-button-circle-wordpress">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'dropbox'})" class="button social-button-circle-dropbox">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'html5'})" class="button social-button-circle-html5">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'css3'})" class="button social-button-circle-css3">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'javascript'})" class="button social-button-circle-javascript">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'sass'})" class="button social-button-circle-sass">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'android'})" class="button social-button-circle-android">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'apple'})" class="button social-button-circle-apple">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'angular'})" class="button social-button-circle-angular">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'codepen'})" class="button social-button-circle-codepen">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'tumblr'})" class="button social-button-circle-tumblr">
			</div>
			
			<div class="col align-center">
				<button ui-sref="social({social:'snapchat'})" class="button social-button-circle-snapchat">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'twitch'})" class="button social-button-circle-twitch">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'github'})" class="button social-button-circle-github">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col align-center">
				<button ui-sref="social({social:'yahoo'})" class="button social-button-circle-yahoo">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'bitcoin'})" class="button social-button-circle-bitcoin">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'vimeo'})" class="button social-button-circle-vimeo">
			</div>
			<div class="col align-center">
				<button ui-sref="social({social:'reddit'})" class="button social-button-circle-reddit">
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>