<ion-view class="social-view-{{social}}" >
<ion-nav-bar align-title="center">
<ion-nav-back-button>
</ion-nav-back-button>
</ion-nav-bar>
<ion-content>
<div class="card">
	<div class="item item-text-wrap">
		<h3 class="title-social"><i class="social-icon-circle-{{social}}"></i><span class="social-color-{{social}}">{{social}}</span></h3>
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<button class="button social-button-square-{{social}}">
			</button>
			&nbsp;
			<button class="button social-button-circle-{{social}}">
			</button>
			&nbsp;
			<i style="margin-top: 4px;" class="social-icon-circle-outline-{{social}}">
			</i>
		</div>
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<button class="button social-button-large social-button-square-{{social}}">
			</button>
			&nbsp;
			<button class="button social-button-large social-button-circle-{{social}}">
			</button>
			&nbsp;
			<i style="margin-top: 4px;" class="social-button-large social-icon-circle-outline-{{social}}">
			</i>
		</div>
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<button class="button social-button-small social-button-square-{{social}}">
			</button>
			&nbsp;
			<button class="button social-button-small social-button-circle-{{social}}">
			</button>
			&nbsp;
			<i style="padding: 10px !important;" class="social-button-small social-icon-circle-outline-{{social}}">
			</i>
		</div>
	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<button class="button  button-block button-small social-button-{{social}}">
			Login <span class="capitalize">{{social}}</span>
			</button>
		</div>
		<div class="row">
			<button class="button  button-block button-small social-button-outline-{{social}}">
			Log Out
			</button>
		</div>
	</div>
</div>
</div>
</ion-content>
</ion-view>